*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    
    /* background-color: rgb(31, 31, 255); */
    /* class="mycard col-lg mx-auto shadow-lg rounded" */
}

#header{
    background-color: rgb(31, 31, 255);
    border-radius: 0 0 15px 15px;
}

#time p{
    margin: 0;
}

#clock img{
    height: 40px;
}

#logo{
    height: 125px;
}

.mylist{
    list-style: none;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-top: 25px;
}

.mylist li{
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;

}

.mycard{
    margin-top: 30px;
    padding: 20px 0 20px 0;
}

.sclink{
    margin-top: 30px;
}

.sclink a{
    text-decoration: none;
}

.sclink div{
    margin-bottom: 25px;
    align-items: center;
}

.sclink div img{
    height: 50px;
}

.sclink div p{
    margin: 0;
    color: black;
}

.myfooter{
    margin-top: 50px;
}

.myfooter div p{
    color: black;
    text-align: center;
    font-size: 16px;
}