*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#logo{
    height: 125px;
}

.mylist{
    list-style: none;
    align-items: center;
    padding: 0 25px 0 25px;
}

.mylist li{
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.mycard{
    margin-top: 30px;
    padding: 20px 0 20px 0;
}

.sclink{
    margin-top: 30px;
    
}

.sclink a{
    text-decoration: none;
}

.sclink div{
    margin-bottom: 25px;
    align-items: center;
}

.sclink div img{
    height: 50px;
}

.sclink div p{
    margin: 0;
    color: black;
}

.myfooter{
    margin-top: 30px;
    background-color: gray;
    width: 100%;
}

.myfooter div p{
    color: white;
    text-align: center;
}