/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
.deneme{
    height: 100px;
}

.mylist{
    list-style: none;
    align-items: center;

}


.mycard{
    margin-top: 30px;
    padding: 20px 0 20px 0;
}